<div class="header">
    <div class="topbar">
        <div class="container">
            <ul class="loginbar pull-right">
                <li>
                    <i class="fa fa-user"></i>
                    <a>{{user.login}}</a>
                </li>
                <li class="topbar-devider"></li>
                <li>
                    <i class="fa fa-users"></i>
                    <a ng-repeat="authContainer in user.authorities">{{authContainer.authority}}<span ng-if="!$last">, </span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img id="logo-header" src="img/logo1-default.png" alt="Logo">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Home
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="index.html">Option 1: Default Page</a></li>
                            <li><a href="page_home1.html">Option 2: Layer Slider</a></li>
                            <li><a href="page_home2.html">Option 3: Revolution Slider</a></li>
                            <li><a href="page_home3.html">Option 4: Amazing Content</a></li>
                            <li><a href="page_home4.html">Option 5: Home Sidebar</a></li>
                            <li><a href="page_home5.html">Option 6: Home Flatty</a></li>
                            <li><a href="page_home6.html">Option 7: Home Magazine</a></li>
                            <li><a href="page_home7.html">Option 8: Home Portfolio</a></li>
                            <li><a href="page_home8.html">Option 9: Home Discover</a></li>
                            <li><a href="page_jobs.html">Option 10: Home Jobs</a></li>
                            <li><a href="page_home9.html">Option 11: Home Boxed</a></li>
                            <li><a href="page_home11.html">Option 12: Home Boxed Image</a></li>
                            <li><a href="page_home10.html">Option 13: Home Fixed Menu</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>