<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <![endif]-->
<!--[if IE 9]>
<html class="ie9" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="/fragments/heads :: head"></head>
<body>
<header class="header">
    <div th:replace="/fragments/headers :: top"></div>
    <div th:replace="/fragments/headers :: navbar"></div>
</header>
<section th:replace="/fragments/titlebars :: breadcrumb">

</section>
<section layout:fragment="content">

</section>
<footer>
    <div th:replace="/fragments/footers :: socialFooter"></div>
</footer>
</body>
</html>