<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" th:with="title=#{project.menu}">
<body>
<div layout:fragment="content">
    <div class="search-frame">
        <div class="headline">
            <h4 th:text="#{search.headline}"></h4>
        </div>
        <form class="row search" novalidate="novalidate">
            <div class="col-md-4">
                <div class="form-group">
                    <input id="search-name" name="name" type="text" class="form-control" th:placeholder="#{project.name}"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input id="search-customer" name="customer" type="text" class="form-control" th:placeholder="#{project.customer}"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input id="search-phase" name="phase" type="text" class="form-control" th:placeholder="#{project.phase}"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input id="search-manager" name="manager" type="text" class="form-control" th:placeholder="#{project.manager}"/>
                </div>
            </div>
        </form>
    </div>
    <div class="data-frame">
        <div class="headline">
            <h4 th:text="#{table.headline}"></h4>
        </div>
        <table id="dt_projects" class="table table-striped table-condensed table-hover" cellpadding="0" width="100%">
            <thead>
            <tr>
                <th th:text="#{project.name}"></th>
                <th th:text="#{project.customer}"></th>
                <th th:text="#{project.phase}"></th>
                <th th:text="#{project.manager}"></th>
                <th th:text="#{project.employees}"></th>
                <th th:text="#{project.ssps}"></th>
                <th th:text="#{table.detail}"></th>
                <th th:text="#{table.delete}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="8" class="dataTables_empty" th:text="#{list.load}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" layout:fragment="script">
    $(function () {
        $('#dt_projects').DataTable();
    });
</script>
</body>
</html>