<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8">
<![endif]-->
<!--[if IE 9]>
<html class="ie9">
<![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layouts/default-layout"
      th:with="title=#{project.menu}">
<body>
<div layout:fragment="search">
    <div class="col-md-2">
        <div class="form-group">
            <input id="search-name" name="name" type="text" class="form-control" th:placeholder="#{project.name}"/>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <input id="search-description" name="description" type="text" class="form-control" th:placeholder="#{project.description}"/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input id="search-manager" name="manager" type="text" class="form-control" th:placeholder="#{project.manager}"/>
        </div>
    </div>
</div>
<table layout:fragment="table" id="dt_projects">
    <thead>
    <tr>
        <th th:text="#{project.name}"></th>
        <th th:text="#{project.description}"></th>
        <th th:text="#{project.manager}"></th>
        <th th:text="#{table.detail}"></th>
        <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{table.delete}"></th>
    </tr>
    </thead>
</table>
<script type="text/javascript" layout:fragment="script">
    $(function () {
        $('#dt_projects').DataTable({
            ajax: {
                url: window.location.pathname + "/list",
                dataSrc: ''
            },
            columns: [
                {data: "name"},
                {data: "description"},
                {data: "manager.name"},
                fmk.detailCol(),
                fmk.deleteCol()
            ]
        });
    });
</script>
</body>
</html>