<!--Fragment pour les alertes-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Alerte simple -->
<div th:fragment="simpleAlert">
    <div id="alert" th:if="${simpleMessage != null}"
         th:class="${simpleMessage.success} ? 'alert alert-dismissable alert-success' : 'alert alert-dismissable alert-danger'">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span id="alert-icon" th:class="${simpleMessage.success} ? 'fa fa-check' : 'fa fa-warning'"></span>
        <span id="alert-message" th:text="${simpleMessage.message}"></span>
    </div>
</div>
</body>
</html>