<!--Fragment pour les entêtes-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="#{app.description}"/>
    <meta name="author" content="jntakpe"/>

    <!-- Title -->
    <title layout:title-pattern="$DECORATOR_TITLE | $CONTENT_TITLE" th:text="#{app.name}"></title>

    <!-- Style sheets -->
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/datatables/media/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables-bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/unify.css}"/>
    <link rel="stylesheet" th:href="@{/css/unify-theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/pp.css}"/>

</head>
</html>