<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layouts/default-layout">
<body>
<!-- Contenu de la page -->
<div layout:fragment="content" class="container">
    <!-- Zone de recherche -->
    <div class="search-frame">
        <div class="headline">
            <h4 th:text="#{search.headline}"></h4>
        </div>
        <form class="row" novalidate="novalidate">
            <!-- Critères de recherche -->
            <div layout:fragment="search" class="search"></div>
            <button class="close" aria-hidden="true" type="reset"><i class="fa fa-eraser"></i></button>
        </form>
    </div>
    <!-- Zone des données -->
    <div class="data-frame">
        <div class="headline">
            <h4 th:text="#{table.headline}"></h4>
        </div>
        <!-- Table -->
        <table layout:fragment="table" class="table table-striped table-condensed table-hover" cellpadding="0"
               width="100%"></table>
        <button type="button" class="btn btn-u" sec:authorize="hasRole('ROLE_ADMIN')"
                onclick="fmk.redirectNew($(this))">
            <i class="fa fa-plus"></i> <span th:text="#{btn.new}"></span>
        </button>
        <button type="button" class="btn btn-u btn-u-blue pull-right">
            <i class="fa fa-file"></i> <span th:text="#{btn.export}"></span>
        </button>
    </div>
</div>
</body>
</html>